body{
    font-family:'open sans',sans-serif;
    color: #fff;
    position: relative;
    background-color: transparent;
}
body::before{
    content: '';
    position: fixed;
    background: #040404 url('images/image9.jpeg') top right no-repeat;
    left: 0;
    background-size: cover;
    right: 0;
    top: 0;
    height:100vh;
    z-index: -1;
}
@media(min-width:1024px){
    body::before{
        background-attachment: fixed;
    }
}
a{
    color: #18d26e;
}
a:hover{
    color: #35e888;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'railewa',sans-serif;
}


/*----NAVBAR----*/
.bg{
    background-color: #18d26e;
}
.navbar-toggler i{
    font-size: 40px;
    color: #040404;
}
.navbar{
    padding:0 ;

}
.navbar-toggler:focus{
    box-shadow: none;
}
@media (max-width:1024px){
    

.ul-bg{
    margin: 0;
   background-color:rgba(204,204,204,0.6);
}}

nav .nav-item  a{
    color: #040404;
    font-weight: bold;
    margin-right: 20px;
    padding: 20px;
}
nav .nav-item a:hover{
    background:rgba(255,255,255,0.8);
   border-bottom: 3px solid #ff28f4;
   padding: 20px;
   padding-top: 8px;
   border-radius: 10px;
}
.navbar-brand{
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    margin-left: 50px;
}

/*-----HEADER-----*/
#header{
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index:997;
    overflow-y: auto;
    
   
}
#header *{
    transition: ease-in-out0.3s;
}
#header h1{
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: 'popins' sans-serif;
    margin-left: 25px;
    margin-bottom: 10px;
}
#header h1 a,
#header h1 a:hover{
    color: #fff;
    line-height: 1;
    display: inline-block;
}
#header h1{
    font-size: 50px;
    margin-top: 20px;
    color: rgba(255,255,255,0.8);
    
}
#header h2{
    margin-left: 25px;
}
#header h2 span{
    color: #fff;
    border-bottom: 4px solid #ff28f4;
    padding-bottom: 6px;
    font-size: 30px;
    color: #18d26e;
}
#header h2 span:hover{
    border-bottom: #18d26e;
}
#header .social-links{
    margin-top: 40px;
    display: flex;
    margin-left: 25px;
}
#header .social-links a{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rbga(255,255,255,0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: transform .2s;
}
#header .social-links a:hover{
    background: #18d26e;
    transform: scale(1.5);
}

/*---make it responsive---*/
@media(max-width:768px){
    #header h1{
        font-size: 36px;
    }
    #header h2{
        font-size: 20px;
        line-height: 15px;
    }
    #header .social-links{
        margin-top: 15px;
    }
    #heaader .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*navigation menu--
.nav-menu{
    margin-top: -550px;
    margin-left:60%;
}
.nav-menu ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu li + li {
    margin-left: 30px;
    position: relative;
}
.nav-menu a{
    display: block;
    position: relative;
    color:rgba(255,255,255,0.7);
    font-size: 25px;
    font-weight: 400;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    transition: 0.3s;
}
.nav-menu a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #18d26e;
    visibility: hidden;
    width: 0px;
    transition: all 0.2s ease-in-out;
}
.nav-menu a:hover::before,
.nav-menu li:hover >a::before,
.nav-menu .active >a::before{
    visibility: visible;
    width: 50px;
}
.nav-menu a:hover,
.nav-menu .active >a,
.nav-menu li:hover >a {
    color: #fff;
    text-decoration: none;
}

/*---make nav for mobile---*/





/*---ABOUT---*/

.about-me .content h3{
    font-weight: 700;
    font-size: 26px;
    color: #18d26e;
}
.about-me .content ul{
    list-style: none;
    padding: 0;
}
.about-me .content ul li{
    padding-bottom: 10px;
}

.about .about-me .collapse h3{
    padding: 5px;
    
    font-size: 24px;
    font-weight: 700;
}
.about .about-me .collapse p{
  
    font-size: 16px;
}
.card{
    position: relative;
    height: 175px;
    width: 310px;
    border: 2px solid black;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: transform .5s ease-in-out;
    border-radius: 20px;
}
.card:hover{
    transform:rotateY(180deg);
   
}
/*--averagely relevant code--*/
.inner{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border: 2px solid #333;
}
.front{
    background-color:rgba(255,255,255,0.3);
    font-size: 30px;
    font-weight: bold;
}
.back{
    background-color:rgba(255,255,255,0.3);
    font-size: 30px;
    transform: rotateY(180deg);
    font-weight: bold;
}




/*---counts---*/
.counts{
    padding: 70px 0 60px;
}
.counts .count-box{
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: rgba(255,255,255,0.3);
    border-radius: 60px 0 60px 0;
}
.counts .count-box i{
    position: absolute;
    top: -25px;
    transform: translateX(-50%);
    font-size: 24px;
    background: rgba(255,255,255,0.9);
    padding: 12px;
    color:#18d26e;
    border-radius: 50px;
    font-weight: 100;
}
.counts .count-box span{
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #fff;
}
.counts .count-box p{
    padding: 0;
    margin: 0;
    font-family: 'raleway',sans-serif;
    font-size: 14px;
}


/*----skills----*/



.skills .progress{
    height: 50px;
    display: block;
    background: none;
}
.skills .progress .skill{
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
    color: #fff;
}
.skills .progress .skill .val{
    float: right;
    font-style: normal;
}
.skills .progress-bar-wrap{
    background: rgba(255,255,255,0.15);
}
.skills .progress-bar{
    width: 0;
    height: 10px;
   /* transition: .9s;*/
    background-color: #18d26e;
    animation: progress 1.5s ease-in-out forwards;
}
@keyframes progress{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}



/*SERVICES*/

#services{
    margin-top: 60px;
}
.services .icon-box{
    text-align: center;
    background: rgba(204,204,204,0.4);
    padding: 70px 20px;
    transition: all ease-in-out 0.3s;
    border-radius:20px ;
   
}

.services .icon-box .icon{
    margin: auto;
    width: 115px;
    height: 115px;
    background: #18d26e;
    border-radius: 5px;
    transition: all  .3s ease-in-out 0s;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;

}
.services .icon-box .icon img{
    color: #fff;
    font-size: 28px;
    width: 115px;
    height: 115px;
    border-radius: 5px;
    
}
.services .icon-box .icon ::before{
    position: absolute;
    content: '';
    left: -8px;
    top: -8px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.15);
    border-radius: 5px;
    transition:all .3s ease-out 0s;
    transform: translateZ(-1px);
}
.services .icon-box h4{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px; 
}
.services .icon-box h4 a{
    color: #fff;
}
.services .icon-box p{
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 0;
    
}
.services .icon-box:hover{
    background: #18d26e;
    border-color: #18d26e;
}

.services .icon-box:hover h4 a,
.services .icon-box:hover p{
    color:black;
    
}
.services .icon-box:hover .icon img{
    color: #18d26e;
}

/*----PORTFOLIO----*/
#portfolio{
    margin-top: 100px;
}



/*----CONTACT--*/
#contact{
    margin-top: 100px;
}
.contact .info-box{
    color: #444444;
    padding: 20px;
    width: 100%;
    background: rgba(255,255,255,0.3);
}

.contact .info-box i{
    font-size: 24px;
    color: #18d26e;
    border-radius: 50%;
    padding: 14px;
    float: left;
    transition: transform .3s;
    background: rgba(255,255,255,0.1);
}
.contact .info-box i:hover{
    color:rgb(30,144,255);
    transform: scale(1.2);
}
.contact .info-box h3{
    font-size: 20px;
    color: rgba(255,255,255,0.9);
    font-weight: 700;
    margin: 10px 20px 8px 68px;
}
.contact .info-box p{
    padding: 0;
    color: #fff;
    line-height: 24px;
    font-size: 20px;
    margin: 0 0 0 68px ;
}
.contact .info-box .social-links{
    margin: 5px 0 0 68px;
    display: flex;
}
.contact .info-box .social-links a{
    font-size: 18px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    transition: 0.3s;
}
.contact .info-box .social-links a:hover{
    color: #18d26e;
}


/*-----ADDONS---*/
#addons{
    margin-top: 30px;
}
.addons a i{
    font-size: 50px;
    float: right;
    margin: 20px;
    margin-right: 60px;
    font-weight: bolder;
    transition: transform .2s;
}
.addons a i:hover{
  transform: scale(2.0);
  color: #ff28f4;
}





